.current
{
    background-color: green;
    color: #fff;
    margin: 20px;
    padding: 10px;
    width: 100%;
    background: rgba(95, 158, 160, 0.534);
}

.currentBody
{
    display: flex;
    font-size: 19px;
    align-items: center;
    justify-content: space-evenly;
}