.App {
  color: rgb(0, 255, 94);
}

html{
  background-image: url("../public/bg5.jpg");
  background-repeat:no-repeat; 
  background-size: cover;
}

#video
{
  z-index: -1;
  object-fit: cover;
  width: 100vw;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
}

.citytextbox
{
  font-size: 20px;
  margin-top: 2%;
  width: 55vw;
}

.SuggestionWrapper
{
  height: 35vh;
  border: 1px solid #ffffff;
  overflow-y: scroll;
}::-webkit-scrollbar {
  width: 0px;
  background: transparent; /* make scrollbar transparent */
}

.Suggestion
{
  width: 55vw;
  border: 1px solid #ffffff;
  background-color: yellowgreen;
}

.Suggestion:hover
{
color: black;
cursor: pointer;
}

.App-header {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}
